h2 {
	color: 	#505050;
	font-size: 40px;
}

.social {
	margin: 0 auto;
	width: 500px;
	text-align: center;
	padding: 50px;
}

[class^="icon-btn"] {
	height: 75px;
	width: 75px;
	border: 0;
	color: #FFFFFF;
	border-radius: 50%;
	margin: 10px;
	cursor: pointer;
	font-size: 40px;
	line-height: 75px;
}

.icon-btn-twitter {
	color: #4099FF;
}

.icon-btn-facebook {
	color: #3B5998;
}

.icon-btn-google {
	color: #DB5A3C;
}

.icon-btn-instagram {
	color: #5C3D2E;
}

.icon-btn-github {
	color: #4183C4;
}

[class^="icon-btn"]:hover {
	transform: scale(1.10);	
}

.icon-btn-twitter:hover {
;
	background-color: #4099FF;
		color: #FFFFFF
}

.icon-btn-facebook:hover {
	color: #FFFFFF;
	background-color: #3B5998;
}

.icon-btn-google:hover {
	color: #FFFFFF;
	background-color: #DB5A3C;
}

.icon-btn-instagram:hover {
	color: #FFFFFF;
	background-color: #5C3D2E;
}

.icon-btn-github:hover {
	color: #FFFFFF;
	background-color: #4183C4;
}